In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Air_Conditioners.csv')

In [7]:
print(df.head())
print(df.info())
print(df.describe())

                                                name main_category  \
0  Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...    appliances
1  LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...    appliances
2  LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...    appliances
3  LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...    appliances
4  Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...    appliances

       sub_category                                              image  \
0  Air Conditioners  https://m.media-amazon.com/images/I/31UISB90sY...
1  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
2  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
3  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
4  Air Conditioners  https://m.media-amazon.com/images/I/41lrtqXPiW...

                                                link ratings no_of_ratings  \
0  https://www.amazon.in/Lloyd-Inverter-Convertib...     4.2         2,255
1  https://www.amazon.in/LG-Convertible-Anti-Viru...     4.2         2,948
2  https://www.amazon.in/LG-Inverter-Convertible-...     4.2         1,206
3  https://www.amazon.in/LG-Convertible-Anti-Viru...     4.0            69
4  https://www.amazon.in/Carrier-Inverter-Split-C...     4.1           630

  discount_price actual_price
0        ₹32,999      ₹58,990
1        ₹46,490      ₹75,990
2        ₹34,490      ₹61,990
3        ₹37,990      ₹68,990
4        ₹34,490      ₹67,790
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            720 non-null    object
 1   main_category   720 non-null    object
 2   sub_category    720 non-null    object
 3   image           720 non-null    object
 4   link            720 non-null    object
 5   ratings         433 non-null    object
 6   no_of_ratings   433 non-null    object
 7   discount_price  457 non-null    object
 8   actual_price    500 non-null    object
dtypes: object(9)
memory usage: 50.8+ KB
None
                                                     name main_category  \
count                                                 720           720
unique                                                708             1
top     Samsung 1.5 Ton 3 Star Wind-Free Technology In...    appliances
freq                                                    3           720

            sub_category                                              image  \
count                720                                                720
unique                 1                                                635
top     Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
freq                 720                                                  6

                                                     link ratings  \
count                                                 720     433
unique                                                720      31
top     https://www.amazon.in/Lloyd-Inverter-Convertib...     4.0
freq                                                    1      56

       no_of_ratings discount_price actual_price
count            433            457          500
unique           187            295          296
top                1        ₹39,990      ₹59,990
freq              45             11           15

In [9]:
print(df.isnull().sum())

name                0
main_category       0
sub_category        0
image               0
link                0
ratings           287
no_of_ratings     287
discount_price    263
actual_price      220
dtype: int64

In [11]:
# Fiyat sütunlarındaki '₹' sembolünü kaldırma ve sayısal tipe dönüştürme
df['discount_price'] = df['discount_price'].replace({'₹': '', ',': ''}, regex=True).astype(float)
df['actual_price'] = df['actual_price'].replace({'₹': '', ',': ''}, regex=True).astype(float)

In [18]:
# 'no_of_ratings' sütunundaki benzersiz değerleri kontrol etme
unique_values = df['no_of_ratings'].unique()
print(unique_values)

['2,255' '2,948' '1,206' '69' '630' '1,666' '1,097' '1,494' '674' '801'
 '558' '730' '5,073' '568' '3,670' '312' '88' '432' '268' '2' '700' '540'
 '258' '2,178' nan '1,444' '360' '38' '1,208' '341' '3' '15' '925' '3,604'
 '42' '22' '94' '1,866' '292' '1,830' '8' '536' '201' '2,722' '202' '23'
 '1,195' '5' '66' '474' '502' '686' '1,183' '56' '1' '49' '212' '79' '468'
 '317' '45' '142' '451' '145' '265' '3,157' '274' '39' '178' '655' '81'
 '43' '234' '134' '97' '229' '12' '748' '926' '62' '14' '440' '85' '260'
 '118' '172' '387' '195' '7' '158' '9' '10' '1,295' '16' '303' '120' '55'
 '27' '34' '37' '1,573' '29' '6' '112' '200' '11' '121' '886' '209' '4'
 '207' '622' '31' '192' '40' '101' '96' '70' '259' '1,400' '288' '13' '51'
 '175' '114' '567' '187' '21' '1,832' '563' '24' '769' '542' '297' '329'
 '20' '156' '26' '485' '9,577' '302' '255' '1,420' '169' '3,562' '224'
 '25' '449' '218' '913' '373' '776' '60' '54' '19' '74' '17' '213' '430'
 '591' '247' '41' '222' '71' '290' '65' '18' '32' '130' '416' '64' '119'
 '59' '68' '36' '164' '77' '47' '98' 'Only 2 left in stock.'
 'Only 1 left in stock.' '581' '398' '774' '232' '44' '50' '296']

In [20]:
# Sadece sayısal değerleri koruyup diğerlerini NaN yapmak
df['no_of_Ratings'] = pd.to_numeric(df['no_of_ratings'].str.replace(',', ''), errors='coerce')

# Hangi satıların NaN olduğunu kontrol etme
nan_ratings = df[df['no_of_Ratings'].isnull()]
print(nan_ratings)

                                                  name main_category  \
24   Lloyd 1.5 Ton 3 Star Fixed Speed Window Ac (Co...    appliances
50   Samsung 1 Ton 5 Star Inverter Split AC (Copper...    appliances
57   Haier 1.5 Ton 3 Star Frost Self Clean Inverter...    appliances
69   Lloyd 2.0 Ton 3 Star Inverter Split Ac (5 In 1...    appliances
73   Voltas 1.5 Ton 3 Star, Fixed Speed Window AC (...    appliances
..                                                 ...           ...
713  Portable Air Conditioner, 6-IN-1 Evaporative P...    appliances
714  Efast Portable Air Conditioner, Cordless Perso...    appliances
715  Personal Air Conditioners Portable AC Mini Air...    appliances
716  Air Conditioner Fan Personal Desk Fan Space Ai...    appliances
717  Portable Air Conditioners, Personal Air Condit...    appliances

         sub_category                                              image  \
24   Air Conditioners  https://m.media-amazon.com/images/I/81qXJbtSA6...
50   Air Conditioners  https://m.media-amazon.com/images/I/51nHL0am-T...
57   Air Conditioners  https://m.media-amazon.com/images/I/51WirkzK4J...
69   Air Conditioners  https://m.media-amazon.com/images/I/3194HYuCKM...
73   Air Conditioners  https://m.media-amazon.com/images/I/61hrzDc3aT...
..                ...                                                ...
713  Air Conditioners  https://m.media-amazon.com/images/I/71QJHNuthD...
714  Air Conditioners  https://m.media-amazon.com/images/I/61zRUGiJc-...
715  Air Conditioners  https://m.media-amazon.com/images/I/71RkCzQZyd...
716  Air Conditioners  https://m.media-amazon.com/images/I/719ujjLfw7...
717  Air Conditioners  https://m.media-amazon.com/images/I/71l59r1G-J...

                                                  link  ratings no_of_ratings  \
24   https://www.amazon.in/Lloyd-Window-Copper-Silv...      NaN           NaN
50   https://www.amazon.in/Samsung-Inverter-Convert...      NaN           NaN
57   https://www.amazon.in/Haier-Inverter-Grooved-A...      NaN           NaN
69   https://www.amazon.in/Lloyd-Inverter-Convertib...      NaN           NaN
73   https://www.amazon.in/Voltas-Window-183-Vectra...      NaN           NaN
..                                                 ...      ...           ...
713  https://www.amazon.in/Portable-Air-Conditioner...      NaN           NaN
714  https://www.amazon.in/Efast-Portable-Condition...      NaN           NaN
715  https://www.amazon.in/Personal-Conditioners-Po...      NaN           NaN
716  https://www.amazon.in/Conditioner-Personal-Eva...      NaN           NaN
717  https://www.amazon.in/Portable-Conditioners-Pe...      NaN           NaN

     discount_price  actual_price  no_of_Ratings
24          27440.0       47990.0            NaN
50          36999.0       57990.0            NaN
57          32990.0       64000.0            NaN
69          46000.0       77990.0            NaN
73          29990.0       42990.0            NaN
..              ...           ...            ...
713             NaN        6821.0            NaN
714             NaN        5224.0            NaN
715         10234.0       13999.0            NaN
716             NaN        9881.0            NaN
717             NaN        6361.0            NaN

[297 rows x 10 columns]

In [22]:
# 'no_of_ratings' sütunundaki NaN değerlerini medyan ile doldurma
median_ratings = df['no_of_ratings'].median()
df['no_of_ratings'].fillna(median_ratings, inplace=True)

TypeError: could not convert string to float: '2,255'